@media(max-width:750px) {
    * {
        margin: 0;
    }

    header {
        padding: 0;
    }

    .milieu-header {
        padding: 10px 10px;
        flex-direction: column;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    .reseau_sociaux a,
    .date-links li {
        font-size: 10px;
    }

    .menu-container {
        position: static;
        flex-direction: column;
        text-align: center;
        margin: 0;
    }

    .menu {
        flex-direction: column;
    }

    .recherche input {
        display: block;
        width: 100%;
        height: 25px;
        background-color: beige;
        border-radius: 6px;
        border: none;
        padding: 10px;
        margin: 10px;
    }

    .recherche img {
        display: none;
    }

    .flash_info {
        flex-direction: column;
        width: 94%;
        margin: 15px 3%;
        align-items: start;
    }

    .flash_story {
        width: 100%;

    }


    .info_urgent {
        padding-right: 0;
        margin-top: 5px;
    }

    .info_urgent img {
        width: 90px;
    }
    .titre_main{
        width: 100%;
    }


    .description {
        flex-direction: column;
        position: relative;
    }

    .art_principal {
        width: 100%;
        height: auto;
        margin: 0 2% 10px 2%;
        background-position: center;
    }


    .art_lien a {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .titre_main h2 {
        font-size: 25px;
    }

    .titre_desc,
    .titre_editor {
        display: none;
    }

    .aside_titre {
        display: block;
        width: 100%;
        margin: 10px;
        margin-top: 15px;
    }


    .aside_titre span {
        display: block;
        width: 100px;
        height: 10px;
        border-bottom: 4px solid rgba(185, 5, 5, 0.863);
    }


    .aside_flash {
        display: flex;
        margin: 0;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .aside_business {
        width: 49%;
        height: 200px;
        margin-bottom: 0;
    }

    .aside_business p,
    .aside_world p {
        font-size: 12px;
    }

    .aside_world {
        width: 49%;
        height: 200px;
        margin-top: 0;
    }

    .liens_business,
    .lien_world {
        margin-top: 30px;
    }

    .detail_flash {
        width: 100%;
        height: auto;
    }

    .detail_story {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(248, 247, 244);
        margin-top: 5px;
    }


    .img_detail {
        width: 40%;
        height: 150px;
        margin: 0;
        text-align: center;
        padding: 0;
        margin-right: 6px;
        position: relative;
    }
    .detail_desc{
        width: 60%;
    }
    .detail_story p {
    font-size: 18px;
}
.detail_desc a {
    font-size: 20px;
    font-weight: bold;
}

    .img_detail img {
        width: 100%;
        height: 100%;
    }

    .detail_nombre {
        z-index: 10;
    }

    .histoire_future {
        padding: 30px 3% 0px 3%;
        height: auto;
    }

    .desc_futur {
        flex-direction: column;
        align-items: center;
        font-size: 9px;
        height: auto;
    }

    .image_future {
        width: 80%;
        height: auto;
        margin-top: 10px;
        position: relative;

    }
    .image_future img {
        width: 100%;
        height: 100%;
    }   
    .image_future .logo_futur img {

        width: 20px;
        height: 20px;

    }



    

    .desc_futur p {
        font-size: 10px;
    }

    .descr_futur a {
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
    }

    .descr_futur {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 20px;
    }

    .info_container{
        flex-direction: column;
    }
    .adresse,
    .apropos,
    .liens,
    .suscrire {
        width: 85%;
        border: none;
        padding: 20px;
        border-bottom: 1px solid #ffffff;
        margin-bottom: 10px;
    }

    .suscrire {
        border: none;
    }

    .culture .accueil_titre h1,
    .accueil .accueil_titre h1,
    .sante_titre .accueil_titre h1,
    .economie .accueil_titre h1 {
        font-size: 3rem;
    }

    .contenu_culture {
        display: flex;
        flex-direction: column;
    }

    .contenu h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .titre_oms {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px;
    }
    .contenu{
        width: 90%;
    }
    
    .contenu .video {
        width: 90%;
        height: auto;
        padding: 8px;
    }
      .video video{
        width: 58%;
      }
      .video h3{
        width: 38%;
        font-size: 10px;
      }
      .article, .connexe .containers{
        flex-direction: column;
      }
      .article .descrp_article, .article .image_article, .info_connexe{
        width: 100%;
      }
      .article .image_article img,.containers{
        width: 100%;
        height: 300px;
      }
       .info_connexe{
        margin-bottom: 10px;
       }
      .info_connexe img{
        height: auto;
      }


}