*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-position: center;
    
}

.open-sans-uniquifier{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    padding: 0px 50px;
}
body{
    background-color: rgb(240, 229, 210);
}


/* Première partie du header qui comprends les liens vers les réseaux sociaux */
.reseau-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}
.date-links{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.date-links li{
    padding-right: 20px;
    color: white;
    font-size: 12px;
    float: right;
}

.reseau-links{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 30%;
}

.reseau-links li{
    margin-left: 3px;
    width:30px;
    height: 100%;
    padding: 3px;
 

    
}

.reseau-links img{
    width: 100%;
    height: 15px;

}
.links-youtube{
    background-color: rgba(185, 5, 5, 0.863);
}
.links-face{
    background-color: rgba(62, 14, 151, 0.863);
}

.links-insta{
    background-color: rgba(122, 52, 252, 0.966);
}
.links-link{
    background-color: rgba(5, 110, 151, 0.966);
}
.links-twitter{
    background-color: rgba(83, 153, 245, 0.966);
}





/* La partie qui comprend le titre et le logo */
.milieu-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.945);
    background-image: url("images.jpg");
    background-size: cover;
    background-position: center;
    padding: 30px 50px;
    width: 100%;
    color: white;
}
.logo{
    width: 40%;
    text-align: left;
}
.logo h1{
   font-size: 50px;
   font-weight: bold;
}
.logo p{
    text-transform: uppercase;
}
.image{
    width: 50%;
}
.image img{
    width: 100%;
    border-radius: 5px;
    height: auto;
}




/* Dernière partie du header */

.menu-container{
    background-color: #b90100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.menu li{
    padding: 15px 8px 15px 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.menu li span{
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.856);
    padding: 3px;
    border-radius: 1px;
}
.menu li:hover{
    border-bottom: 5px solid white;
    padding-bottom: 10px;
}

.recherche input{
   display: none;
}


/* MAIN */
/* Première section */
.flash_info{
    background-color: rgb(250, 246, 241);
    color: black;
    margin: 10px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.flash_story, .info_urgent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    font-size: 15px;
}

.flash_info p{
    padding-left: 5px;
}
.Story_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(185, 5, 5, 0.863);
    padding: 10px;
    color: white;
}
.Story_info div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin-right: 5px;
}


.info_urgent img{
    width: 40px;
    border-radius: 2px;
}
.desc_titre{
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 90%;
    margin: 20px 3%;
}
.aside_titre{
    display: none;
}

.desc_titre span{
    display: block;
    width: 100px;
    height: 10px;
    border-bottom: 4px solid rgba(185, 5, 5, 0.863);
}

.titre_main{
    width: 45%;
}
.titre_editor{
    width: 30%;
}
.titre_desc{
    width: 25%;
}

.description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3%;
    width: 100%;
}
.art_principal{
    width: 45%;
    height: 400px;
    background: url("google.jpg");
    background-size: cover;
    background-position: center;
    text-align:left;
    display: block;
    color: white;
    padding: 15px;
    margin-right: 10px;
}


.logo_art img{
    width: 20px;
    border-radius: 50%;
}
.logo_art{
    background-color:rgba(185, 5, 5, 0.863) ;
    width: 25px;
    border-radius: 50%;
    text-align: center;
}

.art_lien{
    display: inline-block;
    padding: 5px 10px;
    margin: 210px 0px 0px 0px;
    color: white;
}
.art_lien a{
    padding: 5px;
    background-color: rgba(185, 5, 5, 0.863);
    border-radius: 2px;
    color: white;
    font-size: 15px;
}
.art_lien .lien-story{
    background-color: rgba(35, 54, 163, 0.863);
}
.desc_art{
    margin: 0px 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: bold;
}
.date_art, .date_business{
    font-weight: bold;
    display: flex;
    align-items: center;
}
.date_art img, .date_business img{
    width: 30px;
    margin-right: 5px;
}


.aside_flash, .detail_flash{
    align-items: center;
    width: 30%;
    height: 400px;
    margin-right: 5px;
}

.aside_business{
    width: 100%;
    height: 49%;
    margin-bottom: 2%;
    background-image: url("immeuble.jpg");
    background-size: cover;
    padding: 10px;
    color: white;
}
.aside_world{
    width: 100%;
    height: 49%;
    background-image: url("salle.jpg");
    background-size: cover;
    padding: 10px;
    color: white;
}
.aside_business, .aside_world{
    border-radius: 2px;
}

.liens_business,.lien_world{
    margin-top: 80px;
}
.liens_business a, .lien_world a{
    color: white;
    background-color:rgba(71, 73, 90, 0.863) ;
    font-size: 12px;
    padding: 2px;
}
.liens_business span, .lien_world span{
    background-color:rgba(185, 5, 5, 0.863) ;
}
.desc_business p{
    font-weight: bold;
}
.date_business{
    font-size: 14px;
}


/* Dernière partie de la section qui comprend 4 lignes; composées d'images et du texte */
.detail_story{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    padding-right: 5px;
    margin-bottom: 5px;
    background-color: rgb(248, 247, 244);
}
.img_detail{
    width: 45%;
    height: auto;
    margin-right: 7px;
    margin-bottom: 0px;
    align-items: center;
}
.img_detail img{
    margin-top: 1px;
    width:100% ;
    height:92px;
}
.detail_desc a{
    display: inline-block;
    color:rgba(185, 5, 5, 0.863) ;
    font-size: 12px;
    padding: 3px;
}
.detail_desc .lien-detail{
   color:rgba(71, 73, 90, 0.863) ;
}
.detail_nombre{
    position: absolute;
    margin-top: 63px;
    padding: 8px;
    text-align: center;
    align-items: center;
    background-color: rgba(185, 5, 5, 0.863) ;
    width: 30px;
    height: 30px;
    color: white;
    font-weight: bold;
}



/* Dernière section */
.histoire_future{
   display: block;
    width: 100%;
    padding: 30px 3% 0px 3%;
}
.desc_futur{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.image_future{
    width: 20%;
    margin-right: 5px;
}
.image_future img{
    width: 100%;
    height:150px;
   
}
.image_future .descr_futur{
    position: absolute;
}
.logo_futur img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.logo_futur{
    position: absolute;
    background-color:rgba(185, 5, 5, 0.863) ;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    margin: 10px;
}

.descr_futur{
    margin: 120px 1px 0px 10px;
}
.descr_futur a{
    color: white;
    background-color:rgba(71, 73, 90, 0.863) ;
    font-size: 12px;
    padding: 2px;
    
    font-weight: bold;
}
.descr_futur .lien_futur{
    background-color:rgba(185, 5, 5, 0.863) ;
}
.Titre_futur span{
    display: block;
    width: 100px;
    height: 10px;
    border-bottom: 4px solid rgba(185, 5, 5, 0.863);
    margin-bottom: 10px;
}

footer{
    background-color:rgba(185, 5, 5, 0.863) ;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 10px;
}

/* ========================================Le responsible design=============================== */
@media(max-width:770px){
    *{
        margin: 0;
    }
    header{
        padding: 0;
    }
    .milieu-header{
        padding: 10px 10px;
        flex-direction: column;
    }
    .logo{
        width: 100%;
        text-align: center;
    }
    .menu-container{
        flex-direction: column;
        text-align: center;
        margin: 0;
    }
    .menu{
        flex-direction: column;
    }
    .recherche input{
        display: block;
        width: 100%;
        height: 25px;
        background-color: beige;
        border-radius: 6px;
        border: none;
        padding: 10px;
        margin: 10px;
    }
    .recherche img{
        display: none;
     }
    .flash_info{
        flex-direction: column;
        width: 94%;
        margin: 15px 3%;
    }
    .flash_story{
        width: 100%;
        
    }
    .Story_info{
        width: 50%;
    }
    .info_urgent{
        padding-right: 0;
        margin-top: 5px;
    }
    .info_urgent img{
       width: 90px;
    }
   
    .description{
        flex-direction: column;
    }
    .art_principal{
        width: 100%;
        height: auto;
        margin: 0 2% 10px 2%;
        background-position: center;
    }
    .titre_main h2{
        font-size: 25px;
    }

    .titre_desc, .titre_editor{
        display: none;
    }
    .aside_titre{
        display: block;
        width: 100%;
        margin: 10px;
        margin-top: 15px;
    }


    .aside_titre span{
        display: block;
        width: 100px;
        height: 10px;
        border-bottom: 4px solid rgba(185, 5, 5, 0.863);
    }
    

    .aside_flash{
        display: flex;
        margin: 0;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .aside_business{
        width: 49%;
        height: 200px;
        margin-bottom: 0;
    }
    .aside_business p, .aside_world p{
        font-size: 12px;
    }
    .aside_world{
        width: 49%;
        height: 200px;
        margin-top: 0;
    }
    .liens_business, .lien_world {
        margin-top: 90px;
    }
    .detail_flash {
        width: 100%;
        height: auto;
    }
    .detail_story {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(248, 247, 244);
        margin-top: 5px;
    }
   
   
    .img_detail{
        width: 40%;
        height: auto;
        margin: 0;
        text-align: center;
        padding: 0;
        margin-right: 6px;
    }
    .img_detail img {
        width: 100%;
        height: auto;
    }
    
    .detail_nombre{
        display: none;
    }

    .histoire_future{
        padding: 30px 3% 0px 3%;
    }
    .desc_futur {
        flex-direction: column;
        align-items: center;
        font-size: 9px;
    }

    .image_future{
        width:90%;

    }
    .image_future .logo_futur img{

        width: 20px;
        height: 20px;
     
    }
    

    
    .desc_futur img{
        height: 150px;

    }
    .desc_futur p{
        font-size: 10px;
    }
    .descr_futur a{
       display: inline-block;
       font-size: 12px;
       font-weight: normal;
    }
    .descr_futur{
        margin-top: 25%;
    }
    


}







